DB_USER=root
DB_PASSWORD="your password"
DB_NAME=meal_voting
DB_HOST=localhost
JWT_SECRET=supersecretkey
DB_DIALECT=postgresql
EMAIL_USERNAME=meal.voting.cadt@gmail.com
EMAIL_PASSWORD=ajrq oeuh lcnf ejaz

FRONTEND_URL=http://192.168.8.92
FRONT_PORT=5173

BACKEND_URL=http://192.168.8.92
PORT=3000